body {
  width: 100%;
  height: 100%;
  font-family: verdana;
  background-color: #222222;
  }


  ul#menu{
  position: fixed;
  top:0;
  width:100%;
  height: calc(65px + .8vw);
  list-style-type: none;
  overflow: hidden;
  background-color: #2E383F;
  z-index: 10;
}


  
.tab{
  height:calc(80px + .8vw);
  float: left; 
  width: 19.5%;
  display: block;
  color: #E4EDDB;
  text-align: center;
  text-decoration: none;
  font-size: calc(9px + .8vw);
}

.tab >h2:hover{
  display: block;
  /* background-color: rgb(24, 24, 24); */
  color: rgb(68, 104, 102);
}




h3{
  position: fixed;
  width: 50%;
  top:155px;
  right: 3px;
  padding-top: 10%;
  color: #A8A8A8;
  font-family: verdana;
  font-size: calc(9px + .8vw);
  display: block;
  float: right;
}



/* form */
#form-section {
  padding: 5px;
  display: block;
  justify-items: center;
  height: 100%;
}

.form {
  width: 95%;
  height: 67vh;
  padding: 0px 0px 0px 16px;
  overflow-y: auto;
  border-radius: 8px;
}

.responses {
  width: 95%;
  height: 67vh;
  margin-left: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
}

.response {
  background-color: rgb(141, 141, 141);
  padding: 15px;
  margin-top: 10px;
  border: 2px solid rgb(73, 73, 73);
  line-height: 25px;
}

#submit {
  background-color: rgb(148, 148, 148);
  color: #FFF;
  border: 1px solid rgb(61, 61, 61);
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

input[type=text] {
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

select {
  width: 100%;
}

.note {
  float: right;
  font-size: 14px;
}

.name {
  color: rgb(56, 56, 56);
  font-size: 18px;
  font-weight: bold;
  margin: 8px 8px 0px 0px;
  line-height: 25px;
}

.message {
  margin: 16px 0px 0px 8px;
}

.date {
  float: right;
  font-size: 14px;
  letter-spacing: 1.5px;
}