body {
  width: 100%;
  height: 100%;
  font-family: verdana;
  background-color: #222222;
  }


  ul#menu{
  position: fixed;
  top:0;
  width:100%;
  height: calc(65px + .8vw);
  list-style-type: none;
  overflow: hidden;
  background-color: #2E383F;
  z-index: 10;
}


  
.tab{
  height:calc(80px + .8vw);
  float: left; 
  width: 14%;
  display: block;
  color: #E4EDDB;
  text-align: center;
  text-decoration: none;
  font-size: calc(7px + .8vw);
}

.tab >h2:hover{
  display: block;
  /* background-color: rgb(24, 24, 24); */
  color: rgb(68, 104, 102);
}




h3{
  position: fixed;
  width: 50%;
  top:155px;
  right: 3px;
  padding-top: 10%;
  color: #A8A8A8;
  font-family: verdana;
  font-size: calc(9px + .8vw);
  display: block;
  float: right;
}


#form-section {
  padding: 5px;
  display: flex;
  float: left;
  justify-items: center;
  height: 100%;
  width: 95%;
}

.form {
  width: 100%;
  height: 67vh;
  padding: 0px 0px 10px 10px;
  overflow-y: auto;
  border-radius: 8px;
}

.responses {
  width: 100%;
  height: 67vh;
  margin-left: 12px;
  margin-bottom: 12px;
  overflow-y: auto;
}

.response {
  background-color: rgb(141, 141, 141);
  padding: 15px;
  margin-top: 10px;
  border: 2px solid rgb(73, 73, 73);
  line-height: 25px;
}

#submit {
  background-color: rgb(97, 97, 97);
  color: #FFF;
  border: 1px solid rgb(61, 61, 61);
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

input[type=text] {
  border: 1px solid rgb(107, 107, 107);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  border: 1px solid rgb(95, 94, 94);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}

select {
  width: 100%;
}

.note {
  float: right;
  font-size: 14px;
}

.name {
  color: rgb(56, 56, 56);
  font-size: 18px;
  font-weight: bold;
  margin: 8px 8px 0px 0px;
  line-height: 25px;
}

.message {
  margin: 16px 0px 0px 8px;
}

.date {
  float: right;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.movie {
  width: 330px;
  height: 500px;
	padding: 1em;
	cursor: pointer;
}

.movLightboxContainer {
  width: 850px;
  margin: auto;
  max-width: 950px;
  background-color: #FFF;
  border: 5px solid #FFF;
  display: flex;
  flex-direction: row;
}

.movLightboxImage {
  height: 100%;
  margin: auto;
  float: left;
  outline-offset: -5px;
}

.title {
  color: #2F4F4D;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.director {
  font-size: 16px;
  line-height: 32px;
}

.rating {
  background-color: rgb(231, 208, 75);
  border: 1px soli  rgb(231, 208, 75);
  color: #222;
  padding: 8px 24px 8px 24px;
  font-weight: bold;
}

.movLightboxContent {
  height: 100%;
  background-color: #FFF;
  margin: auto;
  padding: 0px 30px;
  float: right;
  max-width: 850px;
  color: #555;

}


.movie-forms {
	display: flex;
  justify-content: space-between;
  float: center;
  flex-flow: row wrap;
  width:100%;
  background:rgb(124, 124, 124);
  
}

.movie-add-forms {
  display: flex;
  float:right;
  flex-flow: row wrap;
  align-items: center;
  
}

.movie-form > div {
  
  float: center;
	position: relative;
	margin-top: 1.5em;
	padding: 0.5em;
	padding-right: 5em;
	width: 250px;
}



.movie-form > div > label {
  float: left;
    margin-right: 5px;
}

.movie-form > div > div{
    overflow: hidden;
}

.movie-form > div > input {
  flex-direction: row;
  font-size: 16px;
  width: 100%;
    
    display: block
}

.dropdown {
  margin: 2.5em;
  float: left;
}

select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    height: 50px;
    background:  rgb(255, 255, 255);
    -webkit-appearance: none;
    background-position-x: 175px;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select:focus {
	outline: black;
	outline-style: solid;
	outline-width: 1px;
}

.moviePoster {
	width: 320px;
  height: 450px;
	padding: 1em;
  cursor: pointer;

}


.delete-button-add {
	
	left: 150px;
	background-color: rgb(238, 59, 59);
	width: 100px;
	height: 50px;
}

.form-input-text:focus ~ span,
.form-input-text:not(:focus):required:valid ~ span,
.form-input-text:not(:focus):optional:not(:placeholder-shown) ~ span,
textarea:focus ~ span,
textarea:not(:focus):required:valid ~ span,
textarea:not(:focus):optional:not(:placeholder-shown) ~ span {
	top: -15px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

.form-input-text, textarea {
	width: 100%;
	border: none;
	padding-bottom: 10px;
	border-bottom: solid 1px black;
	transition: all 0.3s cubic-bezier(.64,.09,.08,1);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 98%, black 4%);
	background-position: -1000px 0;
	background-repeat: no-repeat;
	font-size: 16px;
}

.form-input-text:focus, textarea:focus {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

.button{
  text-align: center;
  
}

.button:hover{
  background-color: var(--color-3);
  float: center;
  
}

.but{
  font-style: none;
  font-size: 20px;
  text-decoration: none;
  color: rgb(124, 124, 124);
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 8px;
  transition: 0.2s;
}